*.[a|o]
*~
*.swp
*.swo
*.psd
*.pyc
.DS_Store
.python-version
tags
reload
config.py
app/static/js/*.min.js
app/static/css/*.min.css
app/static/js/*/*.min.js
app/static/css/*/*.min.css
conf/
tmp/
static/app
static/tmp
build/*
.ropeproject
.project
.pydevproject
.env
