<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset-utf-8"/>
    <title>领取流量</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="xxxxxx"/>
    <meta name="description" content="xxxxx"/>
    <link rel="shortcut icon" href="xxxxxx" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,initial-scale=0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/> 
</head>
<body style="background: #666;">
    <div>
        <a href="{{ url_for('flow.get_mobile', uid=uid, _external=True) }}">领取流量</a>
    </div>

</body>

<html>
